In [33]:
import pandas as pd
import numpy as np

from sklearn.metrics import log_loss
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [28]:
bank = pd.read_csv(r"Cases\bankruptcy\bankruptcy.csv",
                   index_col = 0)

In [29]:
bank.head()

,D,YR,R1,R2,R3,R4,R5,R6,R7,R8,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
NO,,,,,,,,,,,,,,,,,,,,,
1,0,78,0.23,0.08,0.02,0.03,0.46,0.12,0.19,10.36,...,0.05,0.57,0.15,0.23,3.56,0.26,1.55,0.43,0.11,0.17
2,0,77,0.19,0.07,0.09,0.12,0.02,0.02,0.03,3.13,...,0.09,0.12,0.16,0.22,3.78,1.29,1.40,0.06,0.07,0.10
3,0,72,0.07,0.02,0.03,0.05,0.06,0.10,0.14,2.41,...,-0.03,0.02,0.02,0.04,13.29,1.61,1.43,0.03,0.05,0.07
4,0,80,0.07,0.03,0.04,0.04,0.04,0.06,0.06,5.55,...,-0.02,0.01,0.02,0.02,5.36,1.30,1.12,-0.06,-0.08,-0.09
5,0,81,0.09,0.02,0.03,0.04,0.06,0.08,0.11,2.85,...,0.02,0.07,0.10,0.14,7.74,1.48,1.41,0.03,0.04,0.06

In [38]:
X = bank.drop(["D", "YR"], axis = 1)
y = bank["D"]

X.head(3)
#print(y.head())

,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
NO,,,,,,,,,,,,,,,,,,,,,
1,0.23,0.08,0.02,0.03,0.46,0.12,0.19,10.36,1.17,0.40,...,0.05,0.57,0.15,0.23,3.56,0.26,1.55,0.43,0.11,0.17
2,0.19,0.07,0.09,0.12,0.02,0.02,0.03,3.13,1.73,0.60,...,0.09,0.12,0.16,0.22,3.78,1.29,1.40,0.06,0.07,0.10
3,0.07,0.02,0.03,0.05,0.06,0.10,0.14,2.41,1.36,0.41,...,-0.03,0.02,0.02,0.04,13.29,1.61,1.43,0.03,0.05,0.07

In [41]:
scaler = StandardScaler()
knn = KNeighborsClassifier()

pipe = Pipeline([("STD",scaler), ("KNN",knn)])

kfold = StratifiedKFold (n_splits = 5,
                         shuffle = True,
                         random_state = 2022)

params = {"KNN__n_neighbors": np.arange(1,16)}

In [42]:
gcv = GridSearchCV(pipe,
                   param_grid = params,
                   #verbose = 3,
                   scoring = "roc_auc",
                   cv = kfold)
gcv.fit(X, y)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=2022, shuffle=True),
             estimator=Pipeline(steps=[('STD', StandardScaler()),
                                       ('KNN', KNeighborsClassifier())]),
             param_grid={'KNN__n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])},
             scoring='roc_auc')

In [ ]:
gcv.fit(X, )