In [14]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
fp_df = pd.read_csv(r"C:\Hogwarts\machine_learning\11. Association Rules\Association Datasets\Faceplate.csv",
           index_col = 0)

In [6]:
fp_df.head()

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0

In [7]:
fp_df = fp_df.astype(bool)

## Create Frequent Itemset

In [11]:
itemset = apriori(fp_df, min_support = 0.2,
                 use_colnames=True)
itemset.head()

   support  itemsets
0      0.6     (Red)
1      0.7   (White)
2      0.6    (Blue)
3      0.2  (Orange)
4      0.2   (Green)

## Convert into rules

In [13]:
rules = association_rules(itemset)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Green),(Red),0.2,0.6,0.2,1.0,1.666667,0.08,inf
1,(Orange),(White),0.2,0.7,0.2,1.0,1.428571,0.06,inf
2,(Green),(White),0.2,0.7,0.2,1.0,1.428571,0.06,inf
3,"(White, Green)",(Red),0.2,0.6,0.2,1.0,1.666667,0.08,inf
4,"(Green, Red)",(White),0.2,0.7,0.2,1.0,1.428571,0.06,inf